@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800;900&display=swap");
body {
  background-color: #fff;
}
.noBookmark {
  display: flex;
  padding: 40px 0 40px;
  svg {
    color: #dfdfdfcf;
    margin-right: 5px;
  }
}

.likebutton {
  border: 0;
  background-color: transparent;
  z-index: 1;
  transition: all 0.2s;
  &.on {
    svg {
      color: #ffd361;
    }
  }
  svg {
    cursor: pointer;
    color: #dfdfdf;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 3px 4px 3px);
  }
}
